h1 {
text-align: center;
color:rgb(156, 167, 111);
font-family:'Courier New', Courier, monospace;
}
h2{
    text-align: center;
    color: rgb(203, 213, 179);
    font-family:'Courier New', Courier, monospace;

}
.icon{
    text-decoration: none;
}
p{
    text-align: center;

    padding: 5px;
}
body{
    margin: 0;
    background-color:black;
}
.mew{
    height: 300px;
    position: relative;
}
.text{
    text-align: center;
    height: 300;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.cats{
    text-align: center;
    background-image: url("images/cats.png");
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 1;
    height: 300;
    width: 100;
} 

